body{
    margin: 0;
    padding: 0;
box-sizing: border-box;
background-color: #E8F9FF;}

.container{
    max-width: 600px;
    background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 8px;
    border: none;
}
.enter-city , .search-button{
    width:300px;
    margin: 30px  ;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;  
    font-size: 14px;
}
.search-button{
    width:150px;
    transition:all 150ms ease-in-out;
    margin-left:-20px ;
}
.search-button:hover{
    background-color: #E4C3F6;
}
 h2{
    text-align:center;
    margin-top: -20px;
   
}
h1{
    text-align: center;
    font-size: 37px;
}
#icon{
    margin: 0 auto;
    position: relative;
    left: 242px;
}
.current-temp-info{
    text-align: center;
    font-size: 80px;
    font-weight: 900;}
    .current-temp-unit {
        font-size: 28px;
        position: relative;
        top: -38px;
        left:-20px
      }
      #description{
        position: relative;
        right: -350px;
        top: -52px;
        font-size: 24px;
    
      }

.climate-info{
   display: flex;
   justify-content: space-between;
   margin-left: 40px;
   margin-right: 50px;
   margin-top: -10px;
   font-size: 20px;
}
.wind-speed{
    position: relative;
    left: 20px;
    top: -27px;
    font-size: 23px;
    font-weight: 600;
}
.hum{
    position: relative;
    top: -28px;
    right: -16px;
    font-size: 24px;
    left:15px;
    font-weight: 600;
}
footer{
    position: relative;
    bottom: 15px;
    left: 35px;
    
}
footer a{
    text-decoration: none;
    cursor: pointer;
}
footer a:hover{
    text-decoration: underline;
}